header {
    width: 100%;
    background-color: lightgray;
    color: orangered;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 180%;
}

h2 {
    font-size: 140%;
}

.search {
    padding-left: 15em;
    width: 45em;
    float: left;
}

.results {
    padding-left: 30em;
    width: 45em;
    float: left;
}

/* #lbm-map {
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 1em;
    width: 50%;
    color: #fff;
    z-index: 100;
  } */